---
import { actions } from "astro:actions"
import Layout from "@/layouts/Layout.astro"
import { Icon } from "astro-icon/components"

const result = Astro.getActionResult(actions.experiment.create)
if (result && !result.error)
	return Astro.redirect(`/lab/experiments/${result.data.slug}`)

const categories = await Astro.callAction(actions.category.list, {})
const categorySlug = Astro.url.searchParams.get("categorySlug")
---

<Layout>
	<p class="mb-3 text-gray-600 text-sm">
		{
			categorySlug ? (
				<a
					href={`/lab/categories/${categorySlug}`}
					class="flex gap-1 items-center"
				>
					<Icon name="mingcute:arrow-left-fill" />
					Back to Category
				</a>
			) : (
				<a
					href="/lab"
					class="flex gap-1 items-center"
				>
					<Icon name="mingcute:arrow-left-fill" />
					Back to Lab
				</a>
			)
		}
	</p>

	<h1>New Experiment</h1>

	<form
		method="POST"
		action={actions.experiment.create}
		class="flex flex-col space-y-1 max-w-lg"
	>
		<input
			type="text"
			name="name"
			placeholder="Name"
			required
		/>

		<input
			type="text"
			name="slug"
			placeholder="Slug"
			required
		/>

		<textarea
			name="description"
			placeholder="Description"
		></textarea>

		<select name="status">
			<option value="notstarted">Not started</option>
			<option
				value="inprogress"
				selected
			>
				In progress
			</option>
			<option value="onhold">On hold</option>
			<option value="completed">Completed</option>
			<option value="archived">Archived</option>
		</select>

		{
			categorySlug ? (
				<input
					type="hidden"
					name="categoryId"
					value={
						categories.data?.find((c) => c.slug === categorySlug)
							?.id
					}
				/>
			) : (
				<select name="categoryId">
					<option value="">No category</option>
					{categories.data?.map((c) => (
						<option
							value={c.id}
							selected={categorySlug && c.slug === categorySlug}
						>
							{c.name}
						</option>
					))}
				</select>
			)
		}

		<div>
			<button class="w-auto button py-2 mt-2">Create</button>
		</div>
	</form>
</Layout>
