---
import { actions } from "astro:actions"
import Layout from "@/layouts/Layout.astro"
import { Icon } from "astro-icon/components"

const result = Astro.getActionResult(actions.contract.create)
if (result && !result.error)
	return Astro.redirect(`/hall/contracts/${result.data.slug}`)

const guilds = await Astro.callAction(actions.guild.list, {})
const guildSlug = Astro.url.searchParams.get("guildSlug")
---

<Layout>
	<p class="mb-3 text-gray-600 text-sm">
		{
			guildSlug ? (
				<a
					href={`/hall/guilds/${guildSlug}`}
					class="flex gap-1 items-center"
				>
					<Icon name="mingcute:arrow-left-fill" />
					Back to Guild
				</a>
			) : (
				<a
					href="/hall"
					class="flex gap-1 items-center"
				>
					<Icon name="mingcute:arrow-left-fill" />
					Back to Guild Hall
				</a>
			)
		}
	</p>

	<h1>New Contract</h1>

	<form
		method="POST"
		action={actions.contract.create}
		class="flex flex-col space-y-1 max-w-lg"
	>
		<input
			type="text"
			name="name"
			placeholder="Name"
			required
		/>

		<input
			type="text"
			name="slug"
			placeholder="Slug"
			required
		/>

		<input
			type="date"
			name="dueDate"
			required
		/>

		<textarea
			name="description"
			placeholder="Description"
		></textarea>

		<select name="status">
			<option value="notstarted">Not started</option>
			<option
				value="inprogress"
				selected
			>
				In progress
			</option>
			<option value="onhold">On hold</option>
			<option value="completed">Completed</option>
			<option value="archived">Archived</option>
		</select>

		{
			guildSlug ? (
				<input
					type="hidden"
					name="guildId"
					value={guilds.data?.find((g) => g.slug == guildSlug)?.id}
				/>
			) : (
				<select name="guildId">
					<option value="">No guild</option>
					{guilds.data?.map((g) => (
						<option
							value={g.id}
							selected={guildSlug && g.slug == guildSlug}
						>
							{g.name}
						</option>
					))}
				</select>
			)
		}

		<div>
			<button class="w-auto button py-2 mt-2">Create</button>
		</div>
	</form>
</Layout>
