---
import Layout from "@/layouts/Layout.astro"
import { Icon } from "astro-icon/components"
import { actions } from "astro:actions"
import Button from "@/components/Button.astro"
import SessionPlayButton from "@/components/models/session/SessionPlayButton"
import Tasks from "@/components/models/task/Tasks"

const experiment = await Astro.callAction(actions.experiment.getBySlug, {
	slug: Astro.params.slug as string,
})
if (!experiment.data) return Astro.redirect("/lab")

const tasks = await Astro.callAction(actions.task.listByExperiment, {
	experimentId: experiment.data.id,
	includeSubtasks: true,
})
---

<Layout>
	<div class="flex gap-8 min-h-screen">
		<div class="w-full">
			<div class="sticky top-8 float-right flex items-center gap-0.5">
				<SessionPlayButton
					itemType="experiment"
					itemId={experiment.data.id}
					client:load
				/>
				<a
					href={`/lab/experiments/${experiment.data.slug}/edit`}
					class="inline-block text-white p-1 rounded-sm bg-gray-950"
				>
					<Icon name="mingcute:settings-5-fill" />
				</a>
			</div>
			<p class="mb-3 text-gray-600 text-sm flex gap-2">
				<a
					href="/lab"
					class="flex gap-1 items-center"
				>
					<Icon
						name="mingcute:flask-3-fill"
						class="-mt-0.5"
					/>
					Alchemy Lab
				</a>
				<!-- {
					experiment.data.category ? (
						<a
							href={`/lab/categories/${experiment.data.category.slug}`}
							class="flex gap-1 items-center"
						>
							/&nbsp;&nbsp;{experiment.data.category.name}
						</a>
					) : null
				} -->
			</p>
			<!-- TODO: double click to edit experiment name -->
			<h1 class="mb-3">{experiment.data.name}</h1>
			<p>
				{
					experiment.data.description ?? (
						<em>Put a description here.</em>
					)
				}
			</p>
			<div class="mt-10">
				<!-- TODO: in progress, upcoming, on hold -->
				<div class="flex justify-between">
					<h2>Active Assignments</h2>
					<div>
						<Button
							href={`/lab/tasks/create?experimentSlug=${experiment.data.slug}`}
							icon="mingcute:plus-fill"
							label="Add Assignment"
						/>
					</div>
				</div>
				<Tasks
					tasks={tasks.data}
					client:load
				/>
			</div>
		</div>
		<div class="space-y-4 w-[260px] flex-none">
			<!-- TODO: previous sessions -->
		</div>
	</div>
</Layout>
